.paginator {
    margin-top: 20px;
    display: flex;
}

.button {
    background-color: rgb(240, 56, 102);
    border-radius: 10px;
    border: none;
}

.button.prev,
.button.next {
    background-color: bisque;
    margin: 0 5px;
    color: rgb(7, 138, 2);
}

.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 59, 219);
    width: fit-content;
}

a {
    text-decoration-line: none;
    color: black;
}