.paginator {
    margin-top: 20px;
    display: flex;
}

.button {
    background-color: rgb(240, 56, 102);
    border-radius: 10px;
    border: none;
}

.button.prev,
.button.next {
    background-color: bisque;
    margin: 0 5px;
}

.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
    color: black;
}